Source: pop-session
Section: x11
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Uploaders: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/system76/pop-session

Package: pop-session
Architecture: all
Depends: ${misc:Depends},
         gnome-shell,
         gnome-shell-extension-appindicator,
         gnome-shell-extension-desktop-icons-ng,
         gnome-shell-extension-system76-power,
         gnome-shell-extension-cosmic-dock,
         gnome-shell-extension-vertical-overview,
         gnome-session-bin,
         gnome-session-common,
         pop-cosmic,
         pop-gnome-shell-theme,
         pop-shell,
         xwayland,
Provides: x-session-manager, gnome-session
Breaks: pop-default-settings (<< 2)
Replaces: pop-default-settings (<< 2)
Description: GNOME session for Pop
 This package contains the GNOME session used by Pop.
