Source: pop-session
Section: x11
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Uploaders: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Homepage: https://github.com/system76/pop-session

Package: pop-session
Architecture: all
Depends: ${misc:Depends},
         gnome-shell,
         gnome-shell-extension-alt-tab-raise-first-window,
         gnome-shell-extension-always-show-workspaces,
         gnome-shell-extension-desktop-icons,
         gnome-shell-extension-do-not-disturb,
         gnome-shell-extension-pop-battery-icon-fix,
         gnome-shell-extension-pop-shop-details,
         gnome-shell-extension-pop-suspend-button,
         gnome-shell-extension-system76-power,
         gnome-session-bin,
         gnome-session-common,
         pop-gnome-shell-theme,
         pop-shell,
         xwayland,
Provides: x-session-manager, gnome-session
Breaks: pop-default-settings (<< 2)
Replaces: pop-default-settings (<< 2)
Description: GNOME session for Pop
 This package contains the GNOME session used by Pop.
